.planet {
    width: 100%;
    height: 720px;
}

.selectors {
    margin: 0px 0%;
}

.space {
    background-image: url("../images/Space.gif");

}

.thumbnailImg {
    margin: 0px 2%;
}

#name {
    padding-top: 15%;
    color: whitesmoke;

}

.Details {
    color: white;
}

table {
    border: 2pc white;
    font-size: 1.3em;
}

table tr {
    text-align: left;
}

table th {
    padding: 10px;
}

p {
    font-size: 1.5em;
    padding-bottom: 10%;
}

h3 {
    padding-top: 10%;
}

h1 {
    padding-bottom: 6%;
}